.navbar {
  background-color: blue;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 0;
  z-index: 1;
  position: fixed
  
}

.navbarbody {
  background-color: transparent;
  width: 500vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 70px;
  left: 0%;
  
  position: fixed

}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: purple;
  z-index: 1;

 
  position: fixed
}

.nav-menu {
  background-color: red;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 800ms;
  position: fixed;
  overflow: visible;
  z-index: 1;
  /* opacity: 0.5; */

  @media screen and (max-width: 800px) {
    width: 20%;
    
  }
}

.nav-menu.active {
  left: 0;
  transition: 800ms;
  
  position: fixed
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: blue;
}

.nav-menu-items {
  width: 100%;
  background-color:green;
  z-index: 1;

}

.navbar-toggle {
  background-color: orange;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;

}

span {
  margin-left: 16px;
}
